a2rl/workspace/*
!a2rl/workspace/.gitkeep
a2rl_final/workspace/*
!a2rl_final/workspace/.gitkeep
a2rl_final/checkpoints/*
a2rl_final/rosbags/*
aerostack2/workspace/*
!aerostack2/workspace/.gitkeep
aerostack2_gpu/workspace/*
!aerostack2_gpu/workspace/.gitkeep
clean_aerostack2/workspace/*
!clean_aerostack2/workspace/.gitkeep
coresense/workspace/*
!coresense/workspace/.gitkeep
crazyflie/workspace/*
!crazyflie/workspace/.gitkeep
!crazyflie/workspace/repositories.repos
nvidia_container/workspace/*
!nvidia_container/workspace/.gitkeep
paper_as2/workspace/*
!paper_as2/workspace/.gitkeep
paper_as2/as2_ws/*
sysml2/workspace/*
sysml2_eclipse/workspace/*
vio_ros/workspace/*
!vio_ros/workspace/.gitkeep
.gitconfig
