coresense/workspace/*
!coresense/workspace/.gitkeep
aerostack2/workspace/*
!aerostack2/workspace/.gitkeep
crazyflie/workspace/*
!crazyflie/workspace/.gitkeep
!crazyflie/workspace/repositories.repos
.gitconfig

